ul.link-list, ul.link-list-brand, ul.link-list-white {
  margin: 40px 0 0 0;
  padding: 0;
  float: left;
  text-align: left; }
  ul.link-list li, ul.link-list-brand li, ul.link-list-white li {
    font-size: 1.22222em;
    list-style-type: none;
    margin-bottom: 25px; }
    ul.link-list li a, ul.link-list-brand li a, ul.link-list-white li a {
      margin-left: 20px;
      text-decoration: none; }
      ul.link-list li a:hover, ul.link-list-brand li a:hover, ul.link-list-white li a:hover {
        color: #FABF00; }
    ul.link-list li:last-child, ul.link-list-brand li:last-child, ul.link-list-white li:last-child {
      margin-bottom: 0; }
  @media only screen and (max-width: 600px) {
    ul.link-list, ul.link-list-brand, ul.link-list-white {
      float: none;
      margin: 20px 0 0 0; }
      ul.link-list li, ul.link-list-brand li, ul.link-list-white li {
        font-size: 1.11111em;
        margin-bottom: 20px; } }

ul.link-list-brand li {
  color: #005DAC; }
  ul.link-list-brand li a {
    color: #005DAC; }

ul.link-list-white li {
  color: white; }
  ul.link-list-white li a {
    color: white; }

div.wrapper {
  max-width: 650px;
  margin: 0 auto; }

body {
  color: #4C4C4C;
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  font-weight: normal;
  text-align: center; }

h1, h2, h3, h4 {
  color: #005DAC;
  margin: 0;
  padding: 0; }

p {
  margin: 30px auto 0 auto;
  padding: 0; }
  @media only screen and (max-width: 600px) {
    p {
      max-width: 100%;
      margin: 30px 15px 40px 15px; } }

h1 {
  font-size: 3.998em; }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 3.19839em; } }

h2 {
  font-size: 2.827em; }
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 2.26161em; } }

h3 {
  font-size: 1.999em; }
  @media only screen and (max-width: 600px) {
    h3 {
      font-size: 1.59922em; } }

h4 {
  font-size: 1.414em; }
  @media only screen and (max-width: 600px) {
    h4 {
      font-size: 1.13122em; } }

section#studio {
  margin-top: 200px; }
  section#studio h3 {
    display: inline-block;
    padding-left: 60px;
    background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/danthought-logo.png");
    background-repeat: no-repeat;
    background-size: 30px 45px; }
  section#studio h2 {
    margin-top: 30px; }
  section#studio p {
    max-width: 550px; }
  @media only screen and (max-width: 600px) {
    section#studio {
      margin-top: 100px; }
      section#studio h3 {
        padding-left: 48px;
        background-size: 24px 36px; }
      section#studio p {
        max-width: 100%; } }

section#service {
  margin-top: 200px;
  padding: 200px 0;
  background-color: #005DAC;
  background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/servcie-drawing-background.png");
  background-repeat: no-repeat;
  background-position: 50% 30px; }
  section#service h2 {
    color: white; }
  section#service p {
    color: white; }
  section#service ul.service-list1 {
    width: 38%;
    margin-left: 14%; }
  section#service ul.service-list2 {
    width: 36%;
    margin-left: 12%; }
  @media only screen and (max-width: 600px) {
    section#service {
      margin-top: 100px;
      padding: 100px 0;
      background-size: contain;
      background-position: 50% 380px; }
      section#service ul.service-list1, section#service ul.service-list2 {
        width: auto;
        margin-left: 20%; } }

section#product {
  margin-top: 200px;
  padding-bottom: 200px; }
  section#product ul.product-list1 {
    width: 22%;
    margin-left: 22%; }
  section#product ul.product-list2 {
    width: 22%;
    margin-left: 15%; }
  @media only screen and (max-width: 600px) {
    section#product {
      margin-top: 100px;
      padding-bottom: 100px; }
      section#product ul.product-list1, section#product ul.product-list2 {
        width: auto;
        margin-left: 32%; } }

section#think {
  padding: 200px 0;
  background-color: #005DAC;
  background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/think-drawing-background.png");
  background-repeat: no-repeat;
  background-position: 50% 52px; }
  section#think h2 {
    color: white; }
  section#think p {
    color: white; }
  section#think ul.think-list {
    float: none;
    text-align: center; }
  @media only screen and (max-width: 600px) {
    section#think {
      background-size: contain;
      background-position: 50% 150px;
      padding: 100px 0; } }

section#toolkit {
  margin-top: 200px;
  padding-bottom: 200px; }
  section#toolkit ul.toolkit-list1 {
    width: 47%;
    margin-left: 9%; }
  section#toolkit ul.toolkit-list2 {
    width: 32%;
    margin-left: 12%; }
  @media only screen and (max-width: 600px) {
    section#toolkit {
      margin-top: 100px;
      padding-bottom: 100px; }
      section#toolkit ul.toolkit-list1, section#toolkit ul.toolkit-list2 {
        width: auto;
        margin-left: 12%; } }

section#contact {
  padding: 200px 0;
  background-color: #005DAC;
  background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/contact-drawing-background.png");
  background-repeat: no-repeat;
  background-position: 50% 111px; }
  section#contact h2 {
    color: white; }
  section#contact p {
    color: white; }
  section#contact ul.contact-list1 {
    width: 42%;
    margin-left: 9%; }
  section#contact ul.contact-list2 {
    width: 32%;
    margin-left: 15%; }
  @media only screen and (max-width: 600px) {
    section#contact {
      background-size: contain;
      background-position: 50% 360px;
      padding: 100px 0; }
      section#contact ul.contact-list1, section#contact ul.contact-list2 {
        width: auto;
        margin-left: 20%; } }

/*# sourceMappingURL=application.css.map */
