$base-font-size: 18px;
$brand-color: #005DAC;
$text-color: #4C4C4C;
$highlight-color: #FABF00;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

ul.link-list {
	margin: 40px 0 0 0;
	padding: 0;
	float: left;
	text-align: left;
	li {
		font-size: em(22px);
		list-style-type: none;
		margin-bottom: 25px;
		a {
			margin-left: 20px;
			text-decoration: none;
			&:hover {
				color: $highlight-color;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	@media only screen and (max-width: 600px) {
		float: none;
		margin: 20px 0 0 0;
		li {
			font-size: em(20px);
			margin-bottom: 20px;
		}
	}
}

ul.link-list-brand {
  @extend ul.link-list;
	li {
		color: $brand-color;
		a {
			color: $brand-color;
		}
	}
}

ul.link-list-white {
  @extend ul.link-list;
	li {
		color: white;
		a {
			color: white;
		}
	}
}

div.wrapper {
	max-width: 650px;
	margin: 0 auto;
}

body {
  color: $text-color;
	font-size: $base-font-size;
  line-height: 1.4;
  background-color: white;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  font-weight: normal;
	text-align: center;
}

h1, h2, h3, h4 {
	color: $brand-color;
	margin: 0;
	padding: 0;
}

p {
	margin: 30px auto 0 auto;
	padding: 0;
	@media only screen and (max-width: 600px) {
		max-width: 100%;
		margin: 30px 15px 40px 15px;
	}
}

h1 {
  font-size: em(71.964px);
	@media only screen and (max-width: 600px) {
		font-size: em(57.571px);
	}
}

h2 { 
  font-size: em(50.886px);
	@media only screen and (max-width: 600px) {
		font-size: em(40.709px);
	}
}

h3 {
  font-size: em(35.982px);
	@media only screen and (max-width: 600px) {
		font-size: em(28.786px);
	}
}

h4 {
  font-size: em(25.452px);
	@media only screen and (max-width: 600px) {
		font-size: em(20.362px);
	}
}

section#studio {
	margin-top: 200px;
	h3 {
		display: inline-block;
		padding-left: 60px;
		background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/danthought-logo.png");
		background-repeat: no-repeat;
		background-size: 30px 45px;
	}
	h2 {
		margin-top: 30px;
	}
	p {
		max-width: 550px;
	}
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
		h3 {
			padding-left: 48px;
			background-size: 24px 36px;
		}
		p {
			max-width: 100%;
		}
	}
}

section#service {
	margin-top: 200px;
	padding: 200px 0;
	background-color: $brand-color;
	background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/servcie-drawing-background.png");
	background-repeat: no-repeat;
	background-position: 50% 30px;
	h2 {
		color: white;
	}
	p {
		color: white;
	}
	ul.service-list1 {
		width: 38%;
		margin-left: 14%;
	}
	ul.service-list2 {
		width: 36%;
		margin-left: 12%;
	}
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
		padding: 100px 0;
		background-size: contain;
		background-position: 50% 380px;
		ul.service-list1, ul.service-list2 {
			width: auto;
			margin-left: 20%;
		}
	}
}

section#product {
	margin-top: 200px;
	padding-bottom: 200px;
	ul.product-list1 {
		width: 22%;
		margin-left: 22%;
	}
	ul.product-list2 {
		width: 22%;
		margin-left: 15%;
	}
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
		padding-bottom: 100px;
		ul.product-list1, ul.product-list2 {
			width: auto;
			margin-left: 32%;
		}
	}
}

section#think {
	padding: 200px 0;
	background-color: $brand-color;
	background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/think-drawing-background.png");
	background-repeat: no-repeat;
	background-position: 50% 52px;
	h2 {
		color: white;
	}
	p {
		color: white;
	}
	ul.think-list {
		float: none;
		text-align: center;
	}
	@media only screen and (max-width: 600px) {
		background-size: contain;
		background-position: 50% 150px;
		padding: 100px 0;
	}
}

section#toolkit {
	margin-top: 200px;
	padding-bottom: 200px;
	ul.toolkit-list1 {
		width: 47%;
		margin-left: 9%;
	}
	ul.toolkit-list2 {
		width: 32%;
		margin-left: 12%;
	}
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
		padding-bottom: 100px;
		ul.toolkit-list1, ul.toolkit-list2 {
			width: auto;
			margin-left: 12%;
		}
	}
}

section#contact {
	padding: 200px 0;
	background-color: $brand-color;
	background-image: url("http://7xqjbj.com1.z0.glb.clouddn.com/contact-drawing-background.png");
	background-repeat: no-repeat;
	background-position: 50% 111px;
	h2 {
		color: white;
	}
	p {
		color: white;
	}
	ul.contact-list1 {
		width: 42%;
		margin-left: 9%;
	}
	ul.contact-list2 {
		width: 32%;
		margin-left: 15%;
	}
	@media only screen and (max-width: 600px) {
		background-size: contain;
		background-position: 50% 360px;
		padding: 100px 0;
		ul.contact-list1, ul.contact-list2 {
			width: auto;
			margin-left: 20%;
		}
	}
}
