---
title: 但索特工作室 - 制作优秀的应用
description: 一个在中国成都，一个简单的只有一个人，但却一点也不含糊，可以完全独立地设计和开发应用的工作室
---

<section id="studio">
	<div class="wrapper">
		<h3>但索特工作室</h3>
		<h2>制作优秀的应用</h2>
		<p>一个在中国成都，一个简单的只有一个人，但却一点也不含糊，可以完全独立地设计和开发应用的工作室</p>
	</div>
</section>
<section id="service">
	<div class="wrapper">
		<h2>我能帮助你吗？</h2>
		<p>你有一个绝妙的创意，可是缺乏经验将其变成产品，或者你有一个职能并不完整的小团队，在某些环节缺少得力助手，或者你只是想聊聊你的想法能不能实现，我经历过较多产品从无到有的过程，让我从以下这些方面，帮助你打造产品</p>
		<ul class="link-list-white service-list1">
			<li><i class="fa fa-apple fa-fw"></i><a href="http://www.apple.com/cn/ios/" title="iOS 应用开发">iOS 应用开发</a></li>
			<li><i class="fa fa-desktop fa-fw"></i><a href="http://www.apple.com/cn/osx/" title="Mac 应用开发">Mac 应用开发</a></li>
			<li><i class="fa fa-android fa-fw"></i><a href="https://www.android.com/" title="Android 应用开发">Android 应用开发</a></li>
			<li><i class="fa fa-road fa-fw"></i><a href="http://rubyonrails.org/" title="Rails 后端程序开发">Rails 后端程序开发</a></li>
		</ul>
		<ul class="link-list-white service-list2">
			<li><i class="fa fa-html5 fa-fw"></i><a href="http://www.w3.org/TR/html5/" title="前端开发">前端开发</a></li>
			<li><i class="fa fa-puzzle-piece fa-fw"></i><a href="http://blog.danthought.com/programming/2015/07/18/learn-ios/" title="技术咨询">技术咨询</a></li>
			<li><i class="fa fa-mouse-pointer fa-fw"></i><a href="http://blog.danthought.com/design/2015/03/22/ios-gestures/" title="交互设计">交互设计</a></li>
			<li><i class="fa fa-spinner fa-spin fa-fw"></i><a href="http://blog.danthought.com/design/2015/06/21/build-interaction-and-animation-prototypes/" title="动效设计">动效设计</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
</section>
<section id="product">
	<div class="wrapper">
		<h2>看看我制作的产品</h2>
		<p>职业生涯开始从事 JavaEE 企业级应用开发，2010 年开始 Rails Web 应用开发，2011 年开始 iOS 应用开发，目前处于空闲状态，可快速上岗，独立设计和开发的应用热量助手曾被 App Store 在首页推荐。</p>
		<ul class="link-list-brand product-list1">
			<li><i class="fa fa-phone fa-fw"></i><a href="tel:18628338763" title="提供工作">提供工作</a></li>
		</ul>
		<ul class="link-list-brand product-list2">
			<li><i class="fa fa-heart fa-fw"></i><a href="http://wuhoo.co" title="独立应用">独立应用</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
</section>
<section id="think">
	<div class="wrapper">
		<h2>写博客，写代码</h2>
		<p>博客的内容都是基于我自己的工作实践，独立思考过后所撰写的，主要关注商业、设计、编程和运营，既有成系列的专题，也有一些零散的思考，都值得一读。根据以往的编程积累，逐渐将一些重复代码抽取为可重用的组件，也许你也用的上。</p>
		<ul class="link-list-white think-list1">
			<li><i class="fa fa-keyboard-o fa-fw"></i><a href="http://blog.danthought.com" title="原创博客">原创博客</a></li>
		</ul>
		<ul class="link-list-white think-list2">
			<li><i class="fa fa-github fa-fw"></i><a href="https://github.com/danjiang" title="开源组件">开源组件</a></li>
		</ul>
	</div>
</section>
<section id="toolkit">
	<div class="wrapper">
		<h2>我使用的工具包</h2>
		<p>正所谓工欲善其事，必先利其器，请使用正版软件</p>
		<ul class="link-list-brand toolkit-list1">
			<li><i class="fa fa-cube fa-fw"></i><a href="http://www.apple.com/cn/osx/apps/" title="Pages Numbers Keynote">Pages Numbers Keynote</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="https://products.office.com/zh-CN/" title="Word Excel Powerpoint">Word Excel Powerpoint</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="https://bywordapp.com/" title="Byword">Byword</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="https://mindnode.com/" title="MindNode">MindNode</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="http://deepitpro.com/en/mac/products/Diagrammix/info/" title="Diagrammix">Diagramx</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="http://blog.danthought.com/business/2015/06/28/health-diary/" title="铅笔">铅笔</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="http://blog.danthought.com/business/2015/06/28/health-diary/" title="白纸">白纸</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="https://www.fiftythree.com/" title="Paper by FiftyThree">Paper by FiftyThree</a></li>
		</ul>
		<ul class="link-list-brand toolkit-list2">
			<li><i class="fa fa-cube fa-fw"></i><a href="https://marvelapp.com/" title="Marvel">Marvel</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="https://www.sketchapp.com/" title="Sketch">Sketch</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="http://www.pixelmator.com/mac/" title="Pixlemator">Pixlemator</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="http://inboardapp.com/" title="Inboard">Inboard</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="https://developer.apple.com/xcode/" title="Xcode">Xcode</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="http://developer.android.com/sdk/index.html" title="Android Studio">Android Studio</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="https://atom.io/" title="Atom">Atom</a></li>
			<li><i class="fa fa-cube fa-fw"></i><a href="http://www.vim.org/" title="Vim">Vim</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
</section>
<section id="contact">
	<div class="wrapper">
		<h2>怎么联系到我？</h2>
		<p>如果你只是想多了解一些工作室，看看我靠不靠谱，可以先关注微博或者 Twitter；如果你有实际的问题想咨询，请发送邮件，我会即时回复；如果你恰好也在成都，可以打个电话出来喝杯咖啡，聊聊天，吐吐槽。</p>
		<ul class="link-list-white contact-list1">
			<li><i class="fa fa-coffee fa-fw"></i><a href="tel:18628338763" title="手机">18628338763</a></li>
			<li><i class="fa fa-paper-plane fa-fw"></i><a href="mailto:dan@danthought.com" title="邮箱">dan@danthought.com</a></li>
		</ul>
		<ul class="link-list-white contact-list2">
			<li><i class="fa fa-twitter fa-fw"></i><a href="http://twitter.com/dantstudio" title="Twitter">@dantstudio</a></li>
			<li><i class="fa fa-weibo fa-fw"></i><a href="http://weibo.com/danthought" title="微博">@danthought</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
</section>
