---
title: Dan Jiang - iOS Developer
description: Dan Jiang - iOS Developer
---

<section id="aboutme">
	<div class="wrapper">
		<div><img src="/images/danjiang.png" alt="danjiang" /></div>
		<h4>Hi, I’m Dan Jiang.<br/>I’m an iOS developer from China.</h3>
		<p>I’m also have programming experience with Ruby, Rails, Java, Android, HTML, CSS, JavaScript, Unity</p>
		<ul class="link-list-white">
			<li><i class="fa fa-github fa-fw"></i><a href="https://github.com/danjiang" title="Github">Github</a></li>
			<li><i class="fa fa-medium fa-fw"></i><a href="https://medium.com/@danjiang" title="Medium">Medium</a></li>
			<li><i class="fa fa-keyboard-o fa-fw"></i><a href="http://blog.danthought.com" title="博客">博客</a></li>
		</ul>
	</div>
</section>
