---
title: Dan Jiang - iOS Developer
description: Dan Jiang - iOS Developer
---

<section id="aboutme">
  <div class="wrapper">
    <div><img class="fa-spin" src="/images/danjiang.png" alt="danjiang" /></div>
    <h4>Hi, I’m Dan Jiang.<br/>I’m an iOS developer from China.</h4>
    <p>I mainly develop apps with <b>Swift</b>, <b>Objective-C</b>, <b>C/C++</b>. I am boosting team velocity and strengthening code quality with a good <b>Architecture</b>. I specifically focus on iOS Audio & Video programming with <b>AVFoundation</b>, <b>OpenGL ES</b>, <b>FFmpeg</b>. I keep at the <b>On-Device AI</b> technologies and trends.</p>
    <ul class="link-list-brand">
      <li><i class="fab fa-github"></i><a href="https://github.com/danjiang" title="Github">Github</a></li>
      <li><i class="fas fa-keyboard"></i><a href="http://blog.danthought.com" title="博客">博客</a></li>
      <li><i class="fab fa-weixin"></i><a href="/images/wechat.jpg" title="微信">18628338763</a></li>
    </ul>
  </div>
</section>
